*{
  box-sizing:border-box;
}

body{
  background:#f2f4f8;
  font-family: Arial, sans-serif;
  margin:0;
  padding:0;
}

/* CONTENEDOR */
.container{
  width:900px;
  max-width:95%;
  margin:40px auto;
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,.1);
}

h1{
  text-align:center;
  margin-bottom:20px;
}

/* FORMULARIO */
form{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap:10px;
  margin-bottom:20px;
}

input{
  padding:10px;
  border-radius:6px;
  border:1px solid #ccc;
  font-size:15px;
}

input:focus{
  outline:none;
  border-color:#4caf50;
}

/* BOTON PRINCIPAL */
button{
  grid-column:1 / 3;
  padding:12px;
  background:#4caf50;
  color:white;
  border:none;
  border-radius:6px;
  cursor:pointer;
  font-size:16px;
  font-weight:bold;
}

button:hover{
  background:#43a047;
}

/* TABLA */
table{
  width:100%;
  border-collapse:collapse;
}

thead{
  background:#4caf50;
  color:white;
}

th,td{
  padding:10px;
  border-bottom:1px solid #ddd;
  text-align:center;
}

tr:hover{
  background:#f9f9f9;
}

/* BOTONES ACCIONES */
.edit{
  background:#ff9800;
  color:black;
  padding:6px 10px;
  border-radius:4px;
  border:none;
  cursor:pointer;
  margin-right:5px;
}

.delete{
  background:#e53935;
  color:white;
  padding:6px 10px;
  border-radius:4px;
  border:none;
  cursor:pointer;
}

.edit:hover{
  background:#fb8c00;
}

.delete:hover{
  background:#d32f2f;
}
