<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario con CSS Externo</title>
  <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
  <h2>CSS Externo</h2>

  <form>
    <!-- INPUT -->
    <label for="nombre">Nombre:</label><br>
    <input type="text" id="nombre" name="nombre" placeholder="Escribe tu nombre"><br><br>

    <!-- TEXTAREA -->
    <label for="comentario">Comentario:</label><br>
    <textarea id="comentario" name="comentario" rows="4" cols="30"></textarea><br><br>

    <!-- SELECT -->
    <label for="Materias">Materias:</label><br>
    <select id="Masterias" name="Masterias">
      <option>Programacion</option>
      <option>Fisica</option>
      <option>Usuabilidad</option>
    </select><br><br>

    <!-- CHECKBOX -->
    <label>¿Qué colores te gustan?</label><br>
    <label><input type="checkbox" name="color" value="rojo"> Rojo</label><br>
    <label><input type="checkbox" name="color" value="azul"> Azul</label><br>
    <label><input type="checkbox" name="color" value="verde"> Verde</label><br><br>

    <!-- RADIO -->
    <label>Género:</label><br>
    <input type="radio" name="genero" value="masculino"> Masculino
    <input type="radio" name="genero" value="femenino"> Femenino<br><br>

    <button type="submit">Enviar</button>
  </form>
</body>
</html>
